<hr>

<!-- Validation failure messages -->
<% if @item.present? %>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>



<h5>
  Edit item #<%= @item.id %>
</h5>

<hr>

<form action="/update_item/<%= @item.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @item.title %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @item.description %>">
  </div>

 <!--Hidden input for seller-->
  <div class="form-group">
    <input type="hidden" id="seller_id" name="seller_id" value="<%=current_user.id%>" class="form-control">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @item.price %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @item.address %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="text" id="photo" name="photo" class="form-control" value="<%= @item.photo %>">
  </div>
  
  <!--Creating photo upload-->
  <div class="form-group">
    <label for="photo">
      Upload another photo
    </label>
    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <!--Select location-->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>
    <%= select_tag("location_id", options_from_collection_for_select(Location.all, :id, :location, :class => "form-control")) %>
  </div>

<!--Select status of item-->
  <div class="form-group">
    <label for="status_id">
      Status
    </label>
    <%= select_tag("status_id", options_from_collection_for_select(Status.all, :id, :status, :class => "form-control")) %>
  </div>

<!--Select item type-->
  <div class="form-group">
    <label for="category_id">
      Item type
    </label>
    <%= select_tag("category_id", options_from_collection_for_select(Category.all, :id, :category, :class => "form-control")) %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
