


<body>
  
<div class="container">
  
<!--Menu row for adding new items-->    

  <hr>

<!--Main content row - filters on left and postings on right    -->
    <div class="row Content">
        <div class="Filters col-md-3">
        
        <%= search_form_for @q do |f| %>
          <p class="lead">Narrow results:</p>
            <div class="form-group form-inline">
              <%= f.label :description_or_title_cont, "Search item" %>
              <%= f.search_field :description_or_title_cont , :class => "form-control", :placeholder => "Search item description" %>
            </div>

      <!--Filtering-->
           <div class="form-group">   
       
       <!--  Filter by location    -->
                <h6>Search location</h6>
                <% @items.each do |item| %>
                  <dd>
                    <%= check_box_tag('q[location_id_eq_any][]', item.location_id, (true if @q.location_id_eq_any.try(:include?, item.location_id))) %>
                    <%= Location.find(item.location_id).location %>
                  </dd>
                <% end %>
              
              <p></p>
              
        <!--  Filter by item category    -->
              <h6>Search item type</h6>
                <% @items.each do |item| %>
                    <dd>
                    <%= check_box_tag('q[category_id_eq_any][]', item.category_id, (true if @q.category_id_eq_any.try(:include?, item.category_id))) %>
                    <%= Category.find(item.category_id).category %>
                    </dd>
                <% end %>            
            
          <!--  Filter by item status    -->
              <h6>Search item type</h6>
              <%@items.each do |item| %>
                <dd>
                  <%= check_box_tag('q[category_id_eq_any][]', item.status_id, (true if @q.status_id_eq_any.try(:include?, item.status_id))) %>
                  <%= Status.find(item.status_id).status %>
                </dd>
              <% end %>             
            
          </div form>
            
           <%= f.submit :class => "btn btn-primary btn-block" %>
          <a href="/items" class="btn btn-default btn-block">Clear filters</a>
            <% end %>  
        </div filters>
        
        
  <div class="Content col-md-9">
    <div class="card-columns">
    
    <% @items.each do |item| %>
      <div class="card">
        <img class="card-img-top" src="<%= item.photo %>" >
        <div class="card-body">
          <a href="/items/<%= item.id %>">
            <h5 class="card-title"><%= item.title %></h5>
          </a>
          <p class="card-text"><%= item.location.location %></p>
          <div>
    <!--How to put a sign up wall when user clicks on Bookmark listing?-->
            <a href="/create_bookmark" method="post">
              <button type="button" class="btn btn-primary btn-sm">Bookmark listing</button>
            </a>
          </div>
        </div>
      </div>  
    <% end %>
    
  </div>  
        </div>
    </div>
</div>  
  
  



<hr>


  

  
  










<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Seller
        </th>

        <th>
          Price
        </th>

        <th>
          Address
        </th>

        <th>
          Photo
        </th>

        <th>
          Location
        </th>

        <th>
          Status
        </th>

        <th>
          Item type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.id %>
        </td>

        <td>
          <%= item.title %>
        </td>

        <td>
          <%= item.description %>
        </td>

        <td>
          <%= item.seller_id %>
        </td>

        <td>
          <%= item.price %>
        </td>

        <td>
          <%= item.address %>
        </td>

        <td>
          <%= item.photo %>
        </td>

        <td>
          <%= item.location_id %>
        </td>

        <td>
          <%= item.status_id %>
        </td>

        <td>
          <%= item.category_id %>
        </td>

        <td>
          <%= time_ago_in_words(item.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(item.updated_at) %> ago
        </td>

        <td>
          <a href="/items/<%= item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


</body>